<section *ngIf="!!!error" class="section">
  <div class="container is-widescreen">
    <h1 class="title">{{ i18nKeys.VIEW.TITLE | translate }}</h1>

    <div class="columns block">
      <div class="column is-narrow">
        <strong>{{ i18nKeys.VIEW.FIELDS.AUTHOR | translate }}: </strong>
      </div>
      <div class="column">
        <span *ngIf="!isLoading; else authorLoading" [ngClass]="{'is-invisible': isLoading}">{{journal.author}}</span>
        <ng-template #authorLoading>
          <div class="is-justify-content-center is-align-items-center">
            <progress class="progress is-large is-light" max="100">60%</progress>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="columns block">
      <div class="column is-narrow">
        <strong>{{ i18nKeys.VIEW.FIELDS.LANGUAGE | translate }}: </strong>
      </div>
      <div class="column">
        <span *ngIf="!isLoading; else languageLoading" [ngClass]="{'is-invisible': isLoading}">{{journal.language.name}}</span>
        <ng-template #languageLoading>
          <div class="is-justify-content-center is-align-items-center">
            <progress class="progress is-large is-light" max="100">60%</progress>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="columns block">
      <div class="column is-narrow">
        <strong>{{ i18nKeys.VIEW.FIELDS.DATE | translate }}: </strong>
      </div>
      <div class="column">
        <span *ngIf="!isLoading; else dateLoading" [ngClass]="{'is-invisible': isLoading}">{{journal.date | date:'EEE, LLL d, YYYY'}}</span>
        <ng-template #dateLoading>
          <div class="is-justify-content-center is-align-items-center">
            <progress class="progress is-large is-light" max="100">60%</progress>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="columns block">
      <div class="column is-narrow">
        <strong>{{ i18nKeys.VIEW.FIELDS.TITLE | translate }}: </strong>
      </div>
      <div class="column">
        <span *ngIf="!isLoading; else titleLoading" [ngClass]="{'is-invisible': isLoading}">{{journal.title}}</span>
        <ng-template #titleLoading>
          <div class="is-justify-content-center is-align-items-center">
            <progress class="progress is-large is-light" max="100">60%</progress>
          </div>
        </ng-template>
      </div>
    </div>

    <div id="tab-header" class="tabs is-boxed is-fullwidth">
      <ul>
        <li [ngClass]="{'is-active': activeDataTab == 1 }" data-tab="1" (click)="activeDataTab=1">
          <a>
            <span class="icon is-small"><i class="fas fa-eye" aria-hidden="true"></i></span>
            <span>{{ i18nKeys.VIEW.FIELDS.ORIGINAL | translate }}</span>
          </a>
        </li>
        <li [ngClass]="{'is-active': activeDataTab == 2 }" data-tab="2" (click)="activeDataTab=2">
          <a>
            <span class="icon is-small"><i class="fas fa-clipboard-check" aria-hidden="true"></i></span>
            <span>{{ i18nKeys.VIEW.FIELDS.REVIEW | translate }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div id="tab-content">
      <div [style.display]="activeDataTab == 1 ? 'block' : 'none'">
        {{journal.text}}
      </div>
      <div [style.display]="activeDataTab == 2 ? 'block' : 'none'">
        {{journal.review}}
      </div>
    </div>
  </div>
</section>