<app-error [error]="error" *ngIf="error;else elseError"></app-error>
<ng-template #elseError>
  <section class="section">
    <div class="container is-widescreen">
      <h1 class="title">{{ 'VIEW.TITLE' | translate }}</h1>

      <div class="block">
        <strong>{{ 'VIEW.FIELDS.AUTHOR' | translate }}: </strong>{{journal.author}}
      </div>

      <div class="block">
        <strong>{{ 'VIEW.FIELDS.LANGUAGE' | translate }}: </strong>{{journal.language.name}}
      </div>

      <div class="block">
        <strong>{{ 'VIEW.FIELDS.DATE' | translate }}: </strong>{{journal.date | date:'EEE, LLL d, YYYY'}}
      </div>

      <div class="block">
        <strong>{{ 'VIEW.FIELDS.TITLE' | translate }}: </strong>{{journal.title}}
      </div>

      <div id="tab-header" class="tabs is-boxed is-fullwidth">
        <ul>
          <li [ngClass]="{'is-active': activeDataTab == 1 }" data-tab="1" (click)="activeDataTab=1">
            <a>
              <span class="icon is-small"><i class="fas fa-eye" aria-hidden="true"></i></span>
              <span>{{ 'VIEW.FIELDS.ORIGINAL' | translate }}</span>
            </a>
          </li>
          <li [ngClass]="{'is-active': activeDataTab == 2 }" data-tab="2" (click)="activeDataTab=2">
            <a>
              <span class="icon is-small"><i class="fas fa-clipboard-check" aria-hidden="true"></i></span>
              <span>{{ 'VIEW.FIELDS.REVIEW' | translate }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div id="tab-content">
        <div [style.display]="activeDataTab == 1 ? 'block' : 'none'">
          {{journal.text}}
        </div>
        <div [style.display]="activeDataTab == 2 ? 'block' : 'none'">
          {{journal.review}}
        </div>
      </div>
    </div>
  </section>
</ng-template>