<section class="hero is-light is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                La forma mas efectiva de aprender a escribir en otro idioma
            </p>
            <p class="subtitle">
                Escribe tus experiencias y sentimientos, sin perder tiempo pensando y con el vocabulario mas usado,
                compartelo para que nativos te lo revisen y aprende.
            </p>
            <button class="button is-dark">Primeros pasos</button>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="tile is-ancestor is-vertical">
            <div class="tile is-parent">
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
                <div class="tile">
                    <div class="content">
                        <h1 class="title">Journals</h1>
                        <p>Full list with all journals.
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>