<section class="section">
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column">
        <form [formGroup]="createForm">
          <h1 class="title">{{ 'NEW.TITLE' | translate }}</h1>

          <div class="field">
            <label class="label">{{ 'NEW.FIELDS.AUTHOR' | translate }}</label>
            <div class="control has-icons-left">
              <input class="input" type="text" [value]="author" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ 'NEW.FIELDS.LANGUAGE' | translate }}</label>
            <div class="control has-icons-left">
              <div class="select">
                <select formControlName="language">
                  <option [ngValue]="null" disabled>{{ 'NEW.FIELDS.CHOOSE_LANGUAGE' | translate }}</option>
                  <option *ngFor="let language of languages" [ngValue]="language">
                    {{language}}
                  </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ 'NEW.FIELDS.TITLE' | translate }}</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="My first journal" formControlName="title">
              <span class="icon is-small is-left">
                <i class="fas fa-heading"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ 'NEW.FIELDS.TEXT' | translate }}</label>
            <div class="control">
              <textarea class="textarea" formControlName="text"></textarea>
            </div>
          </div>

          <div [ngClass]="{'is-hidden': isSaved}">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-success" [ngClass]="{'is-loading': isSaving}" (click)="submit()">
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>{{ 'NEW.FIELDS.SAVE' | translate }}</span>
                </button>
              </div>
              <div class="control">
                <button class="button" [disabled]="isSaving ? 'disabled' : ''" (click)="cancel()">
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                  <span>{{ 'NEW.FIELDS.RESET' | translate }}</span>
                </button>
              </div>
            </div>
          </div>

          <div [ngClass]="{'is-hidden': !isSaved}">
            <div class="notification is-success">
              {{ 'NEW.MESSAGES.SUCCESS' | translate }}
            </div>
          </div>

          <div [ngClass]="{'is-hidden': !error.message}">
            <div class="notification is-danger">
              {{ error.code }} - {{ error.message }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <article class="message">
          <div class="message-header">
            <p>{{ 'NEW.RULES.TITLE' | translate }}</p>
          </div>
          <div class="message-body">
            <div class="content">
              <ul>
                <li>{{ 'NEW.RULES.RULE1' | translate }}</li>
                <li>{{ 'NEW.RULES.RULE2' | translate }}</li>
              </ul>

              <p [innerHTML]="'NEW.EXAMPLE' | translate"></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>