<app-error [error]="error" *ngIf="error;else elseError"></app-error>
<ng-template #elseError>
  <section class="section">
    <div class="container is-widescreen">
      <form [formGroup]="reviewForm">
        <h1 class="title">Review Journal</h1>
        <h2 class="subtitle">Lorem Ipsum.</h2>

        <div class="field">
          <label class="label">Author</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <input class="input" type="text" [value]="journal.author" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Language</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <input class="input" type="text" [value]="journal.language.name" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Date</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <input class="input" type="text" [value]="journal.date | date:'EEE, LLL d, YYYY'" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-day"></i>
              </span>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <input class="input" type="text" [value]="journal.title" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-heading"></i>
              </span>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Text</label>
          <div class="control">
            <div [ngClass]="{'is-invisible': isLoading}">
              <textarea class="textarea" formControlName="text" [value]="journal.review || journal.text"></textarea>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
        </div>

        <div [ngClass]="{'is-hidden': isSaved}">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success" [ngClass]="{'is-loading': isSaving}"
                [disabled]="isLoading ? 'disabled' : ''" (click)="submit()">
                <span class="icon is-small">
                  <i class="fas fa-check"></i>
                </span>
                <span>Save</span>
              </button>
            </div>
            <div class="control">
              <button class="button is-error" [disabled]="isLoading || isSaving ? 'disabled' : ''" (click)="cancel()">
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
                <span>Reset</span>
              </button>
            </div>
          </div>
        </div>

        <div [ngClass]="{'is-hidden': !isSaved}">
          <div class="notification is-success">
            The journal has been saved successfully!
          </div>
        </div>

        <div [ngClass]="{'is-hidden': !reviewError.message}">
          <div class="notification is-danger">
            {{ reviewError.code }} - {{ reviewError.message }}
          </div>
        </div>
      </form>
    </div>
  </section>
</ng-template>