<app-auth></app-auth>
<app-language></app-language>

<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="assets/icon.png" alt="" class="d-inline-block align-text-top">
        <span style="padding-left: 10px;">Journalearn</span>
      </div>

      <a id="navBurger" role="button" class="navbar-burger" data-target="navMenu" aria-label="menu"
        aria-expanded="false" (click)="isNavBurgerActive=!isNavBurgerActive"
        [ngClass]="{'is-active': isNavBurgerActive }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" [ngClass]="{'is-active': isNavBurgerActive }">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="is-active" (click)="closeNavBurger()">
          {{ 'APP.HOME' | translate }}
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/new']" routerLinkActive="is-active"
          (click)="closeNavBurger()">
          {{ 'APP.NEW' | translate }}
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/journals']" routerLinkActive="is-active"
          (click)="closeNavBurger()">
          {{ 'APP.LIST' | translate }}
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/reviews']" routerLinkActive="is-active"
          (click)="closeNavBurger()">
          {{ 'APP.REVIEW' | translate }}
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light is-outlined" *ngIf="!isAuthenticated" (click)="openAuthModal()">
              <strong>{{ 'APP.LOGIN' | translate }}</strong>
            </a>
            <a class="button is-light is-outlined" *ngIf="!isAuthenticated" (click)="openLanguageModal()">
              <span class="icon is-small">
                <i class="fas fa-globe"></i>
              </span>
            </a>
            <a class="button is-light is-outlined" *ngIf="isAuthenticated" (click)="logout()">
              <strong>{{ 'APP.LOGOUT' | translate }}</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="columns is-flex-direction-column is-fullheight-100vh">
  <div class="column">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer column is-narrow has-background-dark">
    <div class="content has-text-centered">
      <div class="content has-text-light">
        All content © Iván Muñoz
      </div>
    </div>
  </footer>
</div>