<app-auth></app-auth>
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/icon.png" alt="" class="d-inline-block align-text-top">
        <span style="padding-left: 10px;">Journalearn</span>
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="is-active">
          Home
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/new']" routerLinkActive="is-active">
          New
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/journals']" routerLinkActive="is-active">
          List
        </a>
        <a class="navbar-item" *ngIf="isAuthenticated" [routerLink]="['/reviews']" routerLinkActive="is-active">
          Reviews
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-white is-outlined" *ngIf="!isAuthenticated" (click)="openModal()">
              <strong>Log in</strong>
            </a>
            <a class="button is-white is-outlined" *ngIf="!isAuthenticated">
              <span class="icon is-small">
                <i class="fas fa-globe"></i>
              </span>
            </a>
            <a class="button is-white is-outlined" *ngIf="isAuthenticated" (click)="logout()">
              <strong>Log out</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>