<section class="hero is-light is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                La forma mas efectiva de aprender a escribir en otro idioma
            </p>
            <p class="subtitle">
                Tomate unos pocos minutos para escribir tus experiencias y sentimientos, sin perder tiempo pensando y
                con el vocabulario mas usado,
                compartelo para que nativos te lo revisen y aprende.
            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-desktop is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">Escribe</h1>
                    <p>Varios son los beneficios de escribir sobre tus experiencias diarias en otro idioma:
                    </p>
                    <ul>
                        <li>Practica con los tiempos verbales. ¿Qué hice ayer?, ¿Qué he hecho hoy?, ¿Qué haré mañana?
                        </li>
                        <li>Aprende nuevas palabras que usas habitualmente.</li>
                        <li>Sin necesidad de preparación previa para empezar a escribir.</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <figure class="image is-16by9">
                    <img width="256px" src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-hidden-touch">
                <figure class="image is-16by9">
                    <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">Revisiones</h1>
                    <p>Sin excusas, sin miedos, olvidaté de todo lo que no sabes. No necesitas malgastar tiempo buscando
                        en un diccionario, ni revisar si esta bien escrito o no, un nativo lo hará por tí, de esta
                        manera no
                        te sentirás fustrado por tus carencias y la escritura será mucho mas fluida.
                    </p>
                    <p>Colabora y forma parte de la comunidad revisando diarios en tu propio idioma.</p>
                    <blockquote>Recuerda que todo lo que escribas será público. Tú marcas los limites, si estas
                        preocupado sobre tu privacidad no escribas sobre ello.</blockquote>
                </div>
            </div>
            <div class="column is-hidden-desktop">
                <figure class="image is-16by9">
                    <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-desktop is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">Aprende</h1>
                    <p>Echa un vistazo a las revisiones para completar el aprendizaje y mejorar día a día.
                    <p>
                    <p>Se humilde y abraza las correciones/recomendaciones, es la mejor ayuda a la hora de aprender.
                    <p>
                </div>
            </div>
            <div class="column">
                <figure class="image is-16by9">
                    <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>
        </div>
    </div>
</section>