<section class="hero is-medium is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">{{ i18nKeys.HOME.TITLE | translate }}</p>
            <p class="subtitle">{{ i18nKeys.HOME.SUBTITLE | translate }}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ i18nKeys.HOME.WRITE.TITLE | translate }}</h1>
                    <p>{{ i18nKeys.HOME.WRITE.DESCRIPTION | translate }}</p>
                    <ul>
                        <li>{{ i18nKeys.HOME.WRITE.LI1 | translate }}</li>
                        <li>{{ i18nKeys.HOME.WRITE.LI2 | translate }}</li>
                        <li>{{ i18nKeys.HOME.WRITE.LI3 | translate }}</li>
                    </ul>
                </div>
            </div>
            <div class="column mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/NewJournal.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-hidden-touch mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/ReviewJournal.png">
                </figure>
            </div>
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ i18nKeys.HOME.REVIEW.TITLE | translate }}</h1>
                    <p>{{ i18nKeys.HOME.REVIEW.BLOCK1 | translate }}</p>
                    <p>{{ i18nKeys.HOME.REVIEW.BLOCK2 | translate }}</p>
                    <blockquote>{{ i18nKeys.HOME.REVIEW.BLOCK3 | translate }}</blockquote>
                </div>
            </div>
            <div class="column is-hidden-desktop mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/ReviewJournal.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ i18nKeys.HOME.LEARN.TITLE | translate }}</h1>
                    <p>{{ i18nKeys.HOME.LEARN.BLOCK1 | translate }}</p>
                    <p>{{ i18nKeys.HOME.LEARN.BLOCK2 | translate }}</p>
                </div>
            </div>
            <div class="column mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/Learn.png">
                </figure>
            </div>
        </div>
    </div>
</section>