<section class="hero is-medium is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">{{ 'HOME.TITLE' | translate }}</p>
            <p class="subtitle">{{ 'HOME.SUBTITLE' | translate }}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ 'HOME.WRITE.TITLE' | translate }}</h1>
                    <p>{{ 'HOME.WRITE.DESCRIPTION' | translate }}</p>
                    <ul>
                        <li>{{ 'HOME.WRITE.LI1' | translate }}</li>
                        <li>{{ 'HOME.WRITE.LI2' | translate }}</li>
                        <li>{{ 'HOME.WRITE.LI3' | translate }}</li>
                    </ul>
                </div>
            </div>
            <div class="column mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/NewJournal.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-hidden-touch mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/ReviewJournal.png">
                </figure>
            </div>
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ 'HOME.REVIEW' | translate }}</h1>
                    <p>{{ 'HOME.REVIEW.BLOCK1' | translate }}</p>
                    <p>{{ 'HOME.REVIEW.BLOCK2' | translate }}</p>
                    <blockquote>{{ 'HOME.REVIEW.BLOCK3' | translate }}</blockquote>
                </div>
            </div>
            <div class="column is-hidden-desktop mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/ReviewJournal.png">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column is-two-fifths">
                <div class="content">
                    <h1 class="title">{{ 'HOME.LEARN.TITLE' | translate }}</h1>
                    <p>{{ 'HOME.LEARN.BLOCK1' | translate }}</p>
                    <p>{{ 'HOME.LEARN.BLOCK2' | translate }}</p>
                </div>
            </div>
            <div class="column mx-5">
                <figure class="image is-16by9">
                    <img width="256px" src="../../../assets/Learn.png">
                </figure>
            </div>
        </div>
    </div>
</section>