<section class="section">
  <div class="container is-widescreen is-info">
    <form [formGroup]="profileForm">
      <h1 class="title">{{ 'PROFILE.TITLE' | translate }}</h1>
      <h2 class="subtitle">{{ 'PROFILE.SUBTITLE' | translate }}</h2>

      <section class="section has-background-info my-5">
        <h1 class="title is-4">{{ 'PROFILE.TITLE_BASIC' | translate }}</h1>
        <div class="columns">
          <div class="column is-one-quarter is-flex is-justify-content-center is-align-items-center">
            <div
              class="user-avatar--initials has-background-primary is-flex is-justify-content-center is-align-items-center">
              <span class="is-size-1 has-text-weight-bold has-text-dark">{{ initials }}</span>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">{{ 'PROFILE.FIELDS.FIRST_NAME' | translate }}</label>
              <div class="control has-icons-left">
                <div [ngClass]="{'is-invisible': isLoading}">
                  <input class="input" type="text" formControlName="firstName"
                    [ngClass]="{'is-danger': formHelper.hasError(firstName)}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
                  <progress class="progress is-large is-light" max="100">60%</progress>
                </div>
              </div>
              <p class="help is-danger" *ngIf="formHelper.hasError(firstName)">
                {{ formHelper.getFirstError(firstName) }}
              </p>
            </div>

            <div class="field">
              <label class="label">{{ 'PROFILE.FIELDS.LAST_NAME' | translate }}</label>
              <div class="control has-icons-left">
                <div [ngClass]="{'is-invisible': isLoading}">
                  <input class="input" type="text" formControlName="lastName"
                    [ngClass]="{'is-danger': formHelper.hasError(lastName)}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
                  <progress class="progress is-large is-light" max="100">60%</progress>
                </div>
              </div>
              <p class="help is-danger" *ngIf="formHelper.hasError(lastName)">
                {{ formHelper.getFirstError(lastName) }}
              </p>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">{{ 'PROFILE.FIELDS.DESCRIPTION' | translate }}</label>
          <div class="control">
            <textarea class="textarea" formControlName="description"
              [ngClass]="{'is-danger': formHelper.hasError(description)}"></textarea>
          </div>
          <p class="help is-danger" *ngIf="formHelper.hasError(description)">
            {{ formHelper.getFirstError(description) }}
          </p>
        </div>
      </section>

      <section class="section has-background-info my-5">
        <h1 class="title is-4">{{ 'PROFILE.TITLE_LANGUAGE' | translate }}</h1>
        <div class="field">
          <label class="label">{{ 'PROFILE.FIELDS.LANGUAGE_NATIVE' | translate }}</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <div class="select" [ngClass]="{'is-danger': formHelper.hasError(nativeLanguage)}">
                <select formControlName="nativeLanguage">
                  <option [ngValue]="null" disabled>{{ 'PROFILE.FIELDS.CHOOSE_LANGUAGE' | translate }}</option>
                  <option *ngFor="let language of languages" [ngValue]="language">
                    {{language}}
                  </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </div>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
          <p class="help is-danger" *ngIf="formHelper.hasError(nativeLanguage)">
            {{ formHelper.getFirstError(nativeLanguage) }}
          </p>
        </div>

        <div class="field">
          <label class="label">{{ 'PROFILE.FIELDS.LANGUAGE_WRITE' | translate }}</label>
          <div class="control has-icons-left">
            <div [ngClass]="{'is-invisible': isLoading}">
              <div class="select" [ngClass]="{'is-danger': formHelper.hasError(writeLanguage)}">
                <select formControlName="writeLanguage">
                  <option [ngValue]="null" disabled>{{ 'PROFILE.FIELDS.CHOOSE_LANGUAGE' | translate }}</option>
                  <option *ngFor="let language of languages" [ngValue]="language">
                    {{language}}
                  </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </div>
            </div>
            <div *ngIf="isLoading" class="is-flex is-overlay is-justify-content-center is-align-items-center">
              <progress class="progress is-large is-light" max="100">60%</progress>
            </div>
          </div>
          <p class="help is-danger" *ngIf="formHelper.hasError(writeLanguage)">
            {{ formHelper.getFirstError(writeLanguage) }}
          </p>
        </div>
      </section>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" [ngClass]="{'is-loading': isSaving}" (click)="submit()">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>{{ 'PROFILE.FIELDS.SAVE' | translate }}</span>
          </button>
        </div>
        <div class="control">
          <button class="button" [disabled]="isSaving ? 'disabled' : ''" (click)="cancel()">
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
            <span>{{ 'PROFILE.FIELDS.RESET' | translate }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>